 body{
   margin: 0;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #c8c2c2;
}
input{
    width: auto;
    height: auto;
    border: 0.25px solid #c8c2c2;
    background-color: #fff;
    font-size: 8rem;
    padding: 0;
}
.container{
    display: grid;
    width: 60%;
    height: 80%;
    max-width: 800px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
dialog {
    margin: 0px auto;
    padding: 0;
}